apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: simple-api
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io 

spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: {{SIMPLE_API_NAMESPACE}}
  project: default
  source:
    repoURL: '{{SIMPLE_OPS_REPO_URL}}'
    path: simple-api/rolling-update-no-istio
    targetRevision: {{SIMPLE_API_ARGOCD_TARGET_REVISION}}
    
  syncPolicy:
    automated:
      prune: true
      selfHeal: true